html{
	overflow-y:scroll;
	background-color:rgba(248, 234, 246, 0.685);
}

body{
	max-width : 100em;
	margin:auto;
}


.menu  ul{
	list-style: none;
	padding: 40px;
	display: flex;
	justify-content: space-around;
}


.createForm label input{
	display: block;
	margin-bottom: 10px;
	border: 1px solid grey;
	/*border-radius : 5px;*/
	/*padding : 5px;*/
}


.createForm label input:hover {
	
	background-color: rgb(0, 238, 255);;			
}


.createForm_2 label input{
	display: block;
	margin-bottom: 10px;
	border: 1px solid grey;
	/*border-radius : 5px;*/
	/*padding : 5px;*/
}


.createForm_2 label input:hover {
	
	background-color: rgb(0, 238, 255);		
}


.theTITLE {
	padding: 20px;
	font-size: 25px;
	text-align: left;
	margin-left: 130px;
	line-height: 20px;
}


.theCONTENT{
	text-align: left;
	margin-left: 160px;
}


.feedback{
	text-align: left;
	margin-left: 150px;
}





