@font-face {
    font-family: "OpenSansItalic";
    src: url("../font/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "OpenSansBold";
    src: url("../font/OpenSans-Bold.ttf") format("truetype");
}


@font-face {
    font-family: "OpenSansRegular";
    src: url("../font/OpenSans-Regular.ttf") format("truetype");

}


@font-face {
    font-family: "SairaExtraCondensedBold";
    src: url("../font/SairaExtraCondensed-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "SairaExtraCondensedRegular";
    src: url("../font/SairaExtraCondensed-Regular.ttf") format("truetype");
}



body,
html {
    padding: 0;
    margin: 0;
}


/* Bannières */

.firstsectionbanner {
    background-color: #fafbff;
}

.secondsectionbanner {
    background-color: #fafbff;
    margin-top: 20px;
}

/* Haut de page */
h1 {
    font-family: 'SairaExtraCondensedBold';
    color: #000f41;
    padding-top: 3%;

}

#firstparagraph {
    font-family: "OpenSansItalic";
    color: #000f41;
    padding-top: 6%;

}

#secondparagraph {
    font-family: 'OpenSansRegular';
    color: #000f41;
    padding-top: 2%;

}

/* Premier milieu de page */
.secondcontainer article {
    margin-top: 2%;

}

.secondcontainer article h3 {
    font-family: "OpenSansBold";
    text-transform: uppercase;
    padding-bottom: 5%;
    text-align: center;
    color: #000f41;
}

.secondcontainer article p {
    font-family: "OpenSansRegular";
    text-align: center;
    color: #000f41;
    padding-bottom: 7%;
}


.firsticon,
.secondicon,
.thirdicon {
    padding-top: 8%;
    padding-bottom: 7%;
    display: block;
    margin: 0 auto;
}

.myfirstblock,
.mysecondblock,
.mythirdblock {
    border: 1px solid black;
    margin-right: 12px;
}

/* Deuxième milieu de page */
.myfourthblock {
    font-family: "OpenSansItalic";
    padding-top: 2%;
    color: #000f41;
}

.usericon img {
    max-width: 48px;
}

.usernameandtitle h5 {
    font-family: "OpenSansRegular";
    text-transform: uppercase;
    color: #003cdc;
}

.usernameandtitle p {
    font-family: "OpenSansRegular";
    color: #000f41;

}


/* Barre verticale */
.verticale-line {
    border-right: 2px solid #003cdc;
    display: inline-block;
    height: 120px;
    margin: 0 80px;

}

.barreverticale {
    padding-top: 1%;
}

/* Bas de page */
.fourthcontainer {
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: 50px;
    background-color: #003cdc;
}

.recruitmsg h5 #firstpart {
    font-family: 'OpenSansBold';
    text-transform: uppercase;
    padding-left: 15%;
    padding-top: 2%;
    color: #ffffff;
}

.recruitmsg h5 #secondpart {
    font-family: "OpenSansRegular";
    text-transform: uppercase;
    color: #ffffff;
}

.joinusbutton p {
    font-family: "OpenSansBold";
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;

}